/*
!/.gitignore
!/install
!/config.yml
!/mcp.json
!/models.yml
!/global/
!/global/**
!/.agents/
/.agents/*
!/.agents/skills/
/.agents/skills/*
!/.agents/skills/writing-for-agents/
!/.agents/skills/writing-for-agents/**
!/skills/
!/skills/**
!/themes/
!/themes/**
!/.githooks/
!/.githooks/**
