/*
!/.gitignore
!/install
!/AGENTS.md
!/RULES.md
!/config.yml
!/mcp.json
!/models.yml
!/skills/
/skills/*
!/skills/create-task/
!/skills/create-task/**
!/skills/exa-ai/
!/skills/exa-ai/**
!/skills/foundation/
!/skills/foundation/**
!/skills/herdr/
!/skills/herdr/**
!/skills/model-research/
!/skills/model-research/**
!/skills/thermo-nuclear-code-quality-review/
!/skills/thermo-nuclear-code-quality-review/**
